*{
    margin:0;
    box-sizing: border-box;
    font-family: monospace;
}

html,body{
    height: 100%;
    background-color: #042546;
    padding: 20px;
    position: relative;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
    color: white;
    flex-wrap: wrap;
}

.headerName{
    font-size: 5rem;
    font-weight: bolder;
}
.addBtn {
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: #2b7b31;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}
.addBtn:hover{
    background-color: #2b7b32a0;
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

.bookContainer{
    border-radius: 5px;
    padding: 15px;
    background-color: #feb249;
    display: flex;
    flex-direction: column;

}
.removeBtn{
    align-self: flex-end;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    background-color: #f92020;
    color: white;
}
.removeBtn:hover{
    background-color: #f9202098;
}
.bookInfo{
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: bold;
}

.readBox{
    display: flex;
    align-items: center;
}
.readBox input[type='checkbox']{
    accent-color: green;
    cursor: pointer;
}

.modal{
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    width: 30%;
    position: absolute;
    top: 25%;
    left: 35%;
    background-color: #fbeceb;  
}
.modal:not([open]){
    display:none;
  }
.modal p {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
.modal::backdrop{
    background-color: #042546af;
}
.newBook{
    display: flex;
    flex-direction: column;  
}

.newBook input[type="text"],
.newBook input[type='number']{
    line-height: 30px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.newBook .readBox{
    font-size:1.5rem;
}

.buttonContainer{
    align-self: center;
    margin-top: 5px;
}

.buttonContainer button{
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.addBookBtn{
    background-color: #2b7b31;
    color: white;
}
.addBookBtn:hover{
    background-color: #2b7b32a0;
}

.closeBtn {
    background-color: #f92020;
    color: white;
}
.closeBtn:hover{
    background-color: #f9202098;
}